  <table class="table">
    <thead>
      <tr>
        <th scope="col">Dechet</th>
        <th scope="col">Quantité</th>
        <th scope="col">Faite le</th>
        <th scope="col">Validé</th>
        <th scope="col">Expiré le</th>
        <th scope="col">Expiré</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for entity in entities %}
      <tr>
        <td>{{ entity.dechet.name }}</td>
        <td>{{ entity.quantity }} sur {{entity.dechet.mesuredAmount}}</td>
        <td>{% if entity.createdAt %}{{ entity.createdAt|date('d/m/Y') }}{% endif %}</td>
        <td>
            <i class="{% if entity.enabled %}ti-check c-green-600 {% else %}ti-close c-red-600 {% endif %} font-weight-bold"></i>
        </td>
        <td>{% if 'now'|date('d/m/Y') < entity.delais|date('d/m/Y') %}{{ entity.delais|date('d/m/Y') }}{% else %}<code class="highlighter-rouge">Commande déjà faite</code>{% endif %}</td>
        <td>
          {% if not entity.finished %}
            <i class="ti-close c-red-600 font-weight-bold"></i>
          {% else %}
            <i class="ti-check c-green-600 font-weight-bold"></i>
          {% endif %}
        </td>
        <td class="action">
          <ul class="list-unstyled">
              <li class="d-ib mR-10">
                  <a href="{{path('web_commande_show', {'slug_dechet': entity.dechet.slug, 'id': entity.id })}}" class="c-grey-900" data-toggle="tooltip" data-placement="top" title="Voir">
                      <i class="ti-eye"></i>
                  </a>
              </li>
          <ul>
        </td>
      </tr>
      {% endfor %}      
    </tbody>
</table>