{% extends 'base_admin.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="">
            <ul class="list-unstyled">
               <li class="list-inline-item mR-20">
                 <a class="d-b td-n pY-5 pX-10 bgcH-grey-100 c-grey-700" data-toggle="modal" data-target="#del-modal" title="Supprimer">
                    <i class="c-grey-900 ti-trash mR-5"></i>
                    <span>Supprimer</span>
                </a>
                  <!-- Modal -->
                  <div class="modal fade" id="del-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog  modal-sm" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                              <i class="ti-alert mR-5 c-red-900"></i>Suppression
                          </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>
                              Voulez-vous vraiment supprimer?
                          </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                          <a href="
                              {% if entity == 'news' %}{{path('admin_manage_delete', {'entity': 'news', 'token': obj.token })}}{% endif %}{% if entity == 'partenaire' %}{{path('admin_manage_delete', {'entity': 'partenaire', 'token': obj.token})}}{% endif %}{% if entity == 'dechet' %}{{path('admin_manage_delete', {'entity': 'dechet', 'token': obj.token})}}{% endif %}{% if entity == 'page' %}{{path('admin_manage_delete', {'entity': 'page', 'token': obj.token})}}{% endif %}
                          ">
                              Confirmer
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                </li>
                <li class="list-inline-item mR-20">
                  <a href="
                  {% if entity == 'news' %}{{path('web_manage_show', {'entity': 'news', 'slug': obj.slug })}}{% endif %}{% if entity == 'dechet' %}{{path('app_manage_show', {'entity': 'dechet', 'slug': obj.slug})}}{% endif %}{% if entity == 'page' %}{{path('app_manage_show', {'entity': 'page', 'slug': obj.slug})}}{% endif %}
                  " class="d-b td-n pY-5 pX-10 bgcH-grey-100 c-grey-700" data-toggle="tooltip" data-placement="right" title="Voir le site">
                    <i class="c-grey-900 ti-shift-right mR-5"></i>
                    <span>Voir</span>
                  </a>
                </li>
                 <li class="list-inline-item mR-20">
                  <a href="
                      {% if entity == 'news' %}{{path('admin_manage_show', {'entity': 'news', 'slug': obj.slug })}}{% endif %}{% if entity == 'partenaire' %}{{path('admin_manage_show', {'entity': 'partenaire', 'slug': obj.slug})}}{% endif %}{% if entity == 'dechet' %}{{path('admin_manage_show', {'entity': 'dechet', 'slug': obj.slug})}}{% endif %}{% if entity == 'page' %}{{path('admin_manage_show', {'entity': 'page', 'slug': obj.slug})}}{% endif %}
                  " class="d-b td-n pY-5 pX-10 bgcH-grey-100 c-grey-700" data-toggle="tooltip" data-placement="right" title="Preview">
                    <i class="c-grey-900 ti-eye mR-5"></i>
                    <span>Prévisualiser</span>
                  </a>
                </li>
                <li class="list-inline-item mR-20">
                  <a href="
                      {% if entity == 'news' %}{{path('admin_manage_index', {'entity': 'news'})}}{% endif %} {% if entity == 'client' %}{{path('admin_manage_index', {'entity': 'client'})}}{% endif %}{% if entity == 'partenaire' %}{{path('admin_manage_index', {'entity': 'partenaire'})}}{% endif %}{% if entity == 'dechet' %}{{path('admin_manage_index', {'entity': 'dechet'})}}{% endif %}{% if entity == 'page' %}{{path('admin_manage_index', {'entity': 'page'})}}{% endif %}" class="d-b td-n pY-5 pX-10 bgcH-grey-100 c-grey-700
                  " data-toggle="tooltip" data-placement="right" title="Voir la liste">
                    <i class="c-grey-900 ti-list mR-5"></i>
                    <span>Retour à la liste</span>
                  </a>
                </li>
              
            <ul>
        </div>

        <div class="bgc-white pY-10 pX-20 bgc-grey-700">
           <h6 class="c-white d-ib">Modifier {{ entity }}</h6>
        </div>    <!-- /.bgc-white -->

        <div class="bgc-white p-20 bd">
            <div class="mT-5">

            {% include "AdminBundle/"~entity|title~"/form.html.twig" with {'form': form, 'entity': entity } %} 

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
   {% if entity == 'news' or entity == 'page' %}<script src="{{asset('bundles/app/js/images-collection.js')}}"></script>{% endif %}
{% endblock %}