{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="row pY-0 pX-60@lg body pT-20@md+ pT-10@md-">
    <div class="col-lg-8 m-0 pL-40@md+ main">
        <div class="breadcrumbs pT-20 pX-30 d-n@md+">
              <ul class="list-unstyled">
                  <li><a class="mR-3" href="{{path('homepage')}}">Accueil</a> »</li>
                  <li class="active"><a href="#">Changer de mot de passe</a></li>
              </ul>
        </div>    <!-- ./breadcrumbs -->
        <div class="row signup form">
            <div class="col-lg-7 col-xl-6 offset-xl-1 col-md-12 col-12 col-sm-12 col-12 p-30@md- left">
                <div class="clear">
                    <h2>Changer mon mot de passe</h2>
                    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                        <div class="form-group">
                                {{form_label(form.current_password)}}
                                {{form_widget(form.current_password)}}
                                {{form_errors(form.current_password)}} 
                        </div>
                        <div class="form-group">
                                {{form_label(form.plainPassword.first)}}
                                {{form_widget(form.plainPassword.first)}}
                                {{form_errors(form.plainPassword.first)}} 
                        </div>
                        <div class="form-group">
                                {{form_label(form.plainPassword.second)}}
                                {{form_widget(form.plainPassword.second)}}
                                {{form_errors(form.plainPassword.second)}} 
                        </div>

                      <div class="form-group ta-l@md+ mT-40@sm+">
                          <button type="submit" class="signin-btn">Enregistrer</button>
                      </div>

                        <div class="form-group">
                                <p>Pas encore inscrit ? <a href="{{ path('fos_user_registration_register') }}"> S'inscrire</a></p>
                        </div>
                    </form>
                </div> <!-- /.clear -->
            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </div> <!-- /.col -->

    {{ render(controller("AppWebBundle:Main:aside")) }}

</div> <!-- /.row --> 

{% endblock fos_user_content %}
