{% extends "base.html.twig" %}

{% block title %}Login{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

  {#{% if error %}
      <div>{{ error }}</div>
  {% endif %}#}

  <div class="breadcrumbs pT-20 pX-30 d-n@md+">
      <ul class="list-unstyled">
          <li><a class="mR-3" href="{{ path('homepage')}}">Accueil</a> »</li>
          <li class="active"><a href="#">Connexion</a></li>
      </ul>
  </div>    <!-- ./breadcrumbs -->
  <div class="row cover signup-cover d-n@md-">
      <div class="col-md-12 ov-h p-0">
          <div class="pB-0">
              <img src="{{ asset('bundles/app/images/signup-header.jpg') }}" class="w-100p">
          </div> 
      </div>
  </div> <!-- ./row -->
   <div class="row signup form bg-form">
      <div class="col-lg-7 col-xl-6 offset-xl-1 col-md-12 col-12 col-sm-12 col-12 p-30@md- left">
          <div class="clear">
              <h2>Connexion</h2>

              {% if error %}

                <div class="alert alert-danger bdrs-0 mB-0">
                  <ul class="list-unstyled">
                      <li>
                          <i class="ti-close mR-10 badge-danger"></i>{{ error.message|trans({'Bad credentials': 'Email ou mot de passe incorrect'}) }}</li>
                      </li>
                  </ul>
                </div>

              {% endif %}

              <form action="{{ path('fos_user_security_check') }}" method="post" class="bdrs-4">

                  <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                  <div class="form-group">
                        <label class="text-normal">Adresse e-mail</label>
                        <input type="text" id="username" name="_username" required="required" class="form-control"/>
                  </div>  
                 <div class="form-group">
                      <label class="text-normal">Mot de passe</label>
                       <input type="password" id="password" name="_password" required="required" class="form-control"/>
                  </div>   

                 <div class="form-group">
                    <label for="remember_me text-normal">
                        <input type="checkbox" class="cb" id="remember_me" name="_remember_me" value="on"/>  Se souvenir de moi
                    </label>
                </div>    <!-- /.checkbox -->
                  <div class="form-group ta-l@md+ mT-40@sm+">
                      <button type="submit" class="signin-btn">Se connecter</button>
                  </div>
                  <div class="readMoreLink mT-10">
                      <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié?</a> 
                  </div>
                  <h6 class="mT-20">Pas encore inscrit?</h6>
                  <div class="form-group mT-20@md+ mT-20@md-">
                      <a class="signin-btn c-white" href="{{ path('fos_user_registration_register') }}">Enregistrez-vous</a>
                  </div>
              </form> 
          </div>
      </div> <!-- ./col -->
       <div class="col-lg-5 col-xl-4 col-12 col-sm-12 pX-30@md- pB-20@sm- right">

          <div class="breadcrumbs d-n@md-">
              <ul class="list-unstyled">
                  <li><a class="mR-3" href="{{ path('homepage') }}">Accueil</a> »</li>
                  <li class="active"><a href="#">Connexion</a></li>
              </ul>
          </div>

          <h4 class="mT-30">Pourquoi créer un compte?</h4>
          <div class="mT-20 d">
            <p>Securities offered through strategic capital investments, llc. Member finra/sipc. Disclaimer: private securities offerings may have a long holding period, be illiquid, and contain a high degree of risk. Investors must be able to afford the loss of all of their principal.
            <br>No money or other consideration is being solicited, and if sent in response, will not be accepted.
            </p>
          </div>
      </div> <!-- ./col -->
  </div> <!-- ./row -->
{% endblock fos_user_content %}
